rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /quizScores/{docId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null && request.resource.data.userID == request.auth.uid;
      allow update, delete: if request.auth != null && resource.data.userID == request.auth.uid;
    }
  }
}
